#################################
### PROJECT SETTINGS


#################################
### GENERAL SETTINGS

### SublimeText project files
*.sublime-workspace
sftp-config.json

### SASS Ignores - "Sassy CSS" http://sass-lang.com/
*.sass-cache

### PhpStorm
.idea/

### Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Composer
vendor/

# Node
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
