language: php
php:
  - "7.1"
  - "7.2"
  - "7.3"
  - "7.4"
  - "nightly"

env:
  - TYPO3=^8.7 DB=mysql
  - TYPO3=^9.5 DB=mysql
  - TYPO3=^10.4 DB=mysql
  - TYPO3=master DB=mysql

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly
    - php: hhvm
    - php: 7.4snapshot
    - env: TYPO3=10.4 DB=mysql
    - env: TYPO3=master DB=mysql

  exclude:
    # TYPO3 9 LTS with PHP 7.1
    - php: "7.1"
      env: TYPO3=^9.5 DB=mysql

      # TYPO3 8 LTS with PHP 7.3
    - php: "7.3"
      env: TYPO3=^8.7 DB=mysql

services:
  - mysql

os: linux

## Cache composer bits
cache:
  directories:
    - $HOME/.composer/cache

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/a4154f7992654c2bb540
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always

before_script:
  # We don't need xdebug right now
  - phpenv config-rm xdebug.ini || echo "xdebug.ini not removed";
  #  - if [[ "$DB" == "mysql" || "$DB" == "mariadb" ]]; then mysql -e "CREATE DATABASE typo3;"; fi
  #  - if [[ "$DB" == "mysql" || "$DB" == "mariadb" ]]; then mysql -e "GRANT ALL PRIVILEGES ON typo3.* to travis@'%';"; fi
  - >
    export typo3DatabaseName="typo3";
    export typo3DatabaseHost="127.0.0.1";
    export typo3DatabaseUsername="root";
    export typo3DatabasePassword="";
    bash Build/install.sh;
  ## Remove the local PHPUnit so it doesn't get mixed up with the one from TYPO3 core
  #- composer remove phpunit/phpunit --dev && composer update

script:
  - >
    export typo3DatabaseName="typo3";
    export typo3DatabaseHost="127.0.0.1";
    export typo3DatabaseUsername="root";
    export typo3DatabasePassword="";
    export CHECK_MYSQL_CREDENTIALS="no";
    export MANUAL_TESTS="no";
    bash Build/test.sh -- -v;
