<phpunit
        backupGlobals="true"
        backupStaticAttributes="false"
        bootstrap="../Unit/Bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        verbose="false"
>
    <testsuites>
        <testsuite name="Manual tests">
            <directory>./</directory>
        </testsuite>
    </testsuites>
</phpunit>