<phpunit
        backupGlobals="true"
        backupStaticAttributes="false"
        bootstrap="Bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        processIsolation="true"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        verbose="false"
>
    <testsuites>
        <testsuite name="Functional tests">
            <directory>./*</directory>
        </testsuite>
    </testsuites>
</phpunit>
