<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:r="http://typo3.org/ns/Cundd/Rest/ViewHelpers"
    data-namespace-typo3-fluid="true">
    <f:layout name="Module" />

    <f:section name="Content">
        <f:asset.css
            identifier="rest-backend"
            href="EXT:rest/Resources/Public/Stylesheets/backend.css" />
        <div class="module-body-container">
            <f:render section="Information" arguments="{_all}" />
        </div>
    </f:section>

    <f:section name="Information">
        <f:for each="{information}" as="handlerRoutes" key="path">
            <div class="resources">
                <h2
                    title="{handlerRoutes.handler.description -> f:format.stripTags()}">
                    Path
                    <code>{handlerRoutes.configuration.resourceType}</code>
                    <small>
                        <f:if condition="{handlerRoutes.handler}">
                            <f:then>
                                (Handler: {handlerRoutes.handler ->
                                r:getClass()})
                            </f:then>
                            <f:else>
                                (Handler: {handlerRoutes.handlerClass})
                            </f:else>
                        </f:if>
                    </small>
                </h2>

                <f:if condition="{handlerRoutes.error}">
                    <div class="alert alert-warning">
                        Error: {handlerRoutes.errorMessage}
                    </div>
                </f:if>

                <table class="routes table table-striped table-hover">
                    <f:for
                        each="{handlerRoutes.routes}"
                        as="routes"
                        key="method">
                        <f:for each="{routes}" as="route" key="routePath">
                            <tr>
                                <th class="minimize"><code>{method}</code></th>
                                <td>
                                    <f:if condition="{method} == 'GET'">
                                        <f:then>
                                            <a
                                                href="/rest{routePath}"
                                                target="rest-doc"
                                                title="Open the resource in a new tab">
                                                <code>{routePath}</code>
                                            </a>
                                        </f:then>
                                        <f:else>
                                            <code>{routePath}</code>
                                        </f:else>
                                    </f:if>
                                </td>
                                <td class="minimize">
                                    <code>
                                        <f:if
                                            condition="{route.requestType.write}">
                                            <f:then>
                                                {handlerRoutes.configuration.write.value}
                                            </f:then>
                                            <f:else
                                                if="{route.requestType.read}">
                                                {handlerRoutes.configuration.read.value}
                                            </f:else>
                                            <f:else
                                                if="{route.requestType.preflight}">
                                                preflight
                                            </f:else>
                                        </f:if>
                                    </code>
                                </td>
                                <td class="minimize">
                                    <f:if condition="{method} == 'GET'">
                                        <f:if
                                            condition="{handlerRoutes.configuration.read.value} == 'allow'">
                                            <a
                                                href="/rest{routePath}"
                                                target="rest-doc">
                                                <core:icon
                                                    identifier="actions-play"
                                                    size="small" />
                                            </a>
                                        </f:if>
                                    </f:if>
                                </td>
                            </tr>
                        </f:for>
                    </f:for>
                </table>

                <f:if condition="{handlerRoutes.configuration.aliases}">
                    <div class="aliases-container">
                        <h3>Aliases:</h3>
                        <ul class="aliases">
                            <f:for
                                each="{handlerRoutes.configuration.aliases}"
                                as="alias">
                                <li><code>{alias}</code></li>
                            </f:for>
                        </ul>
                    </div>
                </f:if>
            </div>
        </f:for>
    </f:section>
</html>
